<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="sweetalert.css" />
</head>
<body>
    <header>
        <div id="header-div">
            <a href="/"><h1>Pok&eacute;mon Registry</h1></a>
            <form id="search-box" action="/search" method="GET">
                <input type="text" name="pokemon">
                <input type="submit" value="Search Pok&eacute;mon">
            </form>
        </div>
    </header>
    <div id="main-container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="notify.min.js"></script>
    <script src="sweetalert.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
