html, body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: #70a6ff;
    width: 100%;
}

#header-div {
    margin: 0 auto;
    padding: .75em 0 ; 
    width: 1100px;
}

header h1 {
    color: white;
    display: inline;
    margin: 0 auto;
    font-family: Monospace;
}

#search-box {
    float: right;
}

#userbar {
    margin: 0 auto;
    text-align: right;
    width: 1100px;
}

#userbar p {
    background-color: #03b23a;
    border-bottom: 1px solid #03b23a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #03b23a;
    border-right: 1px solid #03b23a;
    color: white;
    display: inline-block;
    font-size: 1.08em;
    margin: 0;
    padding: 0 5px 2px 5px;
}

#userbar p a:visited {
    color: white;
} 

#main-container {
    margin: 0 auto;
    width: 1100px;
}

#sub-main-container {
    padding: 20px 0 0 140px;
}

.form-div {
    margin: 20px 0;
}

#register-button {
    clear: both;
    display: block;
}

#stats-form-div {
    overflow: auto;
}

#stats-input {
    float: left;
    text-align: right;
}

#stats-input input {
    margin: 1px 0;
}

input {
    padding: 2px;
}

input[type=text], input[type=password] {
    background: #ededed;
    border: none;
}

input[type=submit] {
    background: #ededed;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 3px;
}

select {
    background: #ededed;
    border: none;
}

/** Search results page **/
#delete-button input {
    background: #f44242;
    border: solid 1px #f44242;
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
}
